<div>
  <h3>{{localize "turn-reminder.reminder"}}</h3>
</div>

<table class="reminder">
  {{#each reminders as |reminder reminderKey|}}
    <tr class="reminder-group">
      <td class="reminder-group-checkbox"><input type="checkbox" id="turn-reminder-{{reminderKey}}" onchange="event.target.checked ? event.target.parentElement.parentElement.classList.add('done') : event.target.parentElement.parentElement.classList.remove('done')"/></td>
      <td colspan="2">
        <label class="reminder-group-label" for="turn-reminder-{{reminderKey}}">{{reminder.label}}</label>

        <div class="reminder-actions">
          {{#each reminder.rootActions as |action|}}
            {{> modules/turn-reminder/templates/reminder-action.hbs action=action}}
          {{/each}}
          
      
          {{#each reminder.groupedActions as |group|}}
            <div class="reminder-subgroup-label">{{group.label}}</div>

            {{#each group.rootActions as |action|}}
              {{> modules/turn-reminder/templates/reminder-action.hbs action=action}}
            {{/each}}
          {{/each}}
        </div>
      </td>
    </tr>
  {{/each}}
</table>