<div>
  <h3>{{localize "turn-reminder.reminder"}}</h3>
</div>

<table class="reminder">
  {{#each reminders as |reminder reminderKey|}}
    <tr class="reminder-group" style="cursor: pointer;">
      <td class="reminder-group-checkbox"><input type="checkbox" id="turn-reminder-{{reminderKey}}" onchange="event.target.checked ? event.target.parentElement.parentElement.classList.add('done') : event.target.parentElement.parentElement.classList.remove('done')"/></td>
      <td colspan="2">
        <label class="reminder-group-label" for="turn-reminder-{{reminderKey}}">{{reminder.label}}</label>

        {{#each reminder.rootActions as |action|}}
          <div class="reminder-action" id="{{action.id}}" {{#if action.disabled}}disabled{{/if}}>
            <div class="reminder-action-summary">
              <div class="reminder-action-image" style="background-image: url('{{action.image}}')"></div>
              <div class="reminder-action-name">{{action.name}}</div>
            </div>
            {{#if action.description}}
              <div class="reminder-action-description">
                {{{action.description}}}
              </div>
            {{/if}}
          </div>
        {{/each}}
        
    
        {{#each reminder.groupedActions as |group|}}
          <div class="reminder-subgroup-label">{{group.label}}</div>

          {{#each group.rootActions as |action|}}
            <div class="reminder-action" id="{{action.id}}" {{#if action.disabled}}disabled{{/if}}>
              <div class="reminder-action-summary">
                <div class="reminder-action-image" style="background-image: url('{{action.image}}')"></div>
                <div class="reminder-action-name">{{action.name}}</div>
              </div>
              {{#if action.description}}
                <div class="reminder-action-description">
                  {{{action.description}}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        {{/each}}
      </td>
    </tr>
  {{/each}}
</table>